.response-message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color:white;
  height:40px;
}

.response-message__text {
  padding-right:5px;
  margin:0;
  margin-top:-1.5px;
}

.response-button {
  border: 1px solid white;
  background: #BC2D19;
  border-radius:5px;
  cursor: pointer;
}

.response-button:hover {
  transition: .5s ease;
}

.response-message__loading-box{
  background: white;
  width:15px;
  height:15px;
  border-radius: 100%;

  animation: .5s loading-message ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  transform: translateX(-20px);
}

@keyframes loading-message {
  0% {transform: translateX(-20px);}

  100%{transform: translateX(20px);}
}

@media screen and (max-width: 600px) {
  .response-message{
    flex-direction: column;
    height:60px;
    padding:5px 20px 5px 20px;
  }

  .response-message__text{
    margin-bottom:10px;
  }
}