.settings-button {
  position: absolute;
  top:0px;
  right:80px;
  display:none;
}

.settings-button p {
  margin:0;
}

.settings-button:hover {
  transform:translateX(1px);
}

@media screen and (min-width: 1000px) {
  .settings-button {
    display:block;
    cursor: pointer;
  }
}