.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formbox {
  display:flex;
}

@media screen and (max-width: 600px) {
  .forms {
    border-top:1px solid #1E4363;
  }

  .forms--blocking {
    flex-direction: column;
  }

}

@media (min-width: 1000px) {
  .forms--rooms {
    margin-top:20px;
    margin-bottom:5px;
  }

  .forms--users {
    margin-top:15px;
    margin-bottom:5px;
  }
}
