body {
  margin:0;
}

.form-area {
  display:flex;
  justify-content: center;

  height:150px;
  border-bottom: 1px solid navy;
  box-sizing: border-box;
}

.info-area{
  overflow-x:auto;
  height:800px;
}