.room {
  list-style:none;
  padding:0;
  margin-top:10px;
  margin-left:93px;
}

.room__timeblock {
  display: inline;
  white-space: nowrap;
}

.room__timeblock--block{
  display:inline-block;
  width:50px;
  height:20px;
  box-sizing: border-box;
  border: 1px solid blue;
}
