.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
}

.login-box {
  color:white;
  text-align: center;
  box-sizing: border-box;
  height:305px;
  width:325px;
  background: #1E4363;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}


.login-box__tabs {
  height:50px;
  width:100%;
  display: flex;
  font-size:14px;
}

.login-box__tabs div {
  display: flex;
  align-items: center;
  justify-content: center;
  width:50%; 
  cursor: pointer;
}

.login-box__form-box {
  padding-top:15px;
  padding-left:70px;
  padding-right:70px;
}

.login-box__form-box form {
  margin:0;
  display:flex;
  flex-direction: column;
}

.login-box__form-box__input{
  border:none;
  margin-top:20px;
  height:30px;
  font-size:12px;
  font-family: 'Roboto Mono', monospace;
}

.login-box__form-box__input::placeholder {
  color: #1E4363;
}

.login-box__form-box__input:focus{
  outline-width:2px;
  outline-color: white;
}

.login-submit {
  border:none;
  margin-top:20px;
  height:30px;
  font-size:12px;
  font-family: 'Roboto Mono', monospace;
  
  cursor: pointer;

  background: #1E4363;
  color:white;
  border:1px solid white;
}

.login-submit:hover {
  background: white;
  color:#1E4363;
  transition: .3s ease;
}