.error-message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color:white;
  /*background: #1E4363;*/
  background: #BC2D19;

  height:40px;
}

p {
  padding-right:5px;
  margin:0;
  margin-top:-1.5px;
}

button {
  border: 1px solid white;
  background: #BC2D19;
  color:white;
  border-radius:5px;
  cursor: pointer;
}

button:hover {
  background:white;
  color:#BC2D19;
  transition: .5s ease;
}

@media screen and (max-width: 600px) {
  .error-message{
    flex-direction: column;
    height:60px;
    padding:5px 20px 5px 20px;
  }

  p{
    margin-bottom:10px;
  }
}